

/* 
button{
    position: relative;
    left: 20%;
    width: 30%; 
    padding: 7%;
    margin-top: 2%;
    margin-right: 1%;
    background-color: aqua;
}
*/


button.button-80 {
  position: relative;
  left: 20%;
  width: 30%; 
  padding: 7%;
  margin-top: 2%;
  margin-right: 1%;
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}


.comment div{
    position: absolute;
    font-size: 24px;
    line-height: 1;
    z-index: 2;
    color: #fff;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-fill-mode: forwards;
}

.comment div:nth-child(1){
  animation-name: lane0;
  text-shadow: -1px -1px #000, 1px -1px #000,	-1px 1px #000, 1px 1px #000;
}

.comment div:nth-child(2){
  animation-name: lane1;
  text-shadow: -1px -1px rgb(255, 28, 28), 1px -1px rgb(255, 28, 28),	-1px 1px rgb(255, 28, 28), 1px 1px rgb(255, 28, 28);
}

.comment div:nth-child(3){
  animation-name: lane2;
  text-shadow: -1px -1px #000, 1px -1px #000,	-1px 1px #000, 1px 1px #000;
}

.comment div:nth-child(4){
  animation-name: lane3;
  text-shadow: -1px -1px rgb(70, 255, 28), 1px -1px rgb(70, 255, 28),	-1px 1px rgb(70, 255, 28), 1px 1px rgb(70, 255, 28);
}

.comment div:nth-child(5){
  animation-name: lane4;
  text-shadow: -1px -1px rgb(255, 28, 28), 1px -1px rgb(255, 28, 28),	-1px 1px rgb(255, 28, 28), 1px 1px rgb(255, 28, 28);
}

.comment div:nth-child(6){
  animation-name: lane5;
  text-shadow: -1px -1px rgb(1, 17, 240), 1px -1px rgb(1, 17, 240),	-1px 1px rgb(1, 17, 240), 1px 1px rgb(1, 17, 240);
}

.comment div:nth-child(7){
  animation-name: lane6;
  text-shadow: -1px -1px rgb(255, 157, 0), 1px -1px rgb(255, 157, 0),	-1px 1px rgb(255, 157, 0), 1px 1px rgb(255, 157, 0);
}

.comment div:nth-child(8){
  animation-name: lane7;
  text-shadow: -1px -1px rgb(214, 1, 251), 1px -1px rgb(214, 1, 251),	-1px 1px rgb(214, 1, 251), 1px 1px rgb(214, 1, 251);
}
.comment div:nth-child(9){
  animation-name: lane8;
  text-shadow: -1px -1px rgb(70, 255, 28), 1px -1px rgb(70, 255, 28),	-1px 1px rgb(70, 255, 28), 1px 1px rgb(70, 255, 28);
}

.comment div:nth-child(10){
  animation-name: lane9;
  text-shadow: -1px -1px rgb(1, 17, 240), 1px -1px rgb(1, 17, 240),	-1px 1px rgb(1, 17, 240), 1px 1px rgb(1, 17, 240);
}


@keyframes lane0 {
from{ transform: translate(2000px, 0); }
to{ transform: translate(-8000px, 0); }
}


@keyframes lane1 {
  from{ transform: translate(2000px, 100px); }
  to{ transform: translate(-8000px, 100px); }
}

@keyframes lane2 {
  from{ transform: translate(2000px, 200px); }
  to{ transform: translate(-8000px, 200px); }
}

@keyframes lane3 {
  from{ transform: translate(2000px, 300px); }
  to{ transform: translate(-8000px, 300px); }
}


@keyframes lane4 {
  from{ transform: translate(2000px, 400px); }
  to{ transform: translate(-8000px, 400px); }
}

@keyframes lane5 {
  from{ transform: translate(2000px, 500px); }
  to{ transform: translate(-8000px, 500px); }
}


@keyframes lane6 {
  from{ transform: translate(2000px, 600px); }
  to{ transform: translate(-8000px, 600px); }
}


@keyframes lane7 {
  from{ transform: translate(2000px, 700px); }
  to{ transform: translate(-8000px, 700px); }
}


@keyframes lane8 {
  from{ transform: translate(2000px, 800px); }
  to{ transform: translate(-8000px, 800px); }
}

@keyframes lane9 {
  from{ transform: translate(2000px, 900px); }
  to{ transform: translate(-8000px, 900px); }
}

@keyframes lane10 {
  from{ transform: translate(2000px, 1000px); }
  to{ transform: translate(-8000px, 1000px); }
}

